# Compiled class files
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Eclipse files
.classpath
.project
.settings/

# IntelliJ IDEA files
*.iml
.idea/
out/

# VS Code
.vscode/

# Mac OS
.DS_Store

# Windows
Thumbs.db

# Test reports
/test-output/

# Maven
/target/

# Gradle
/build/
